local_deploy.sh
target
bot-builder
mytest/
.settings
.classpath
.project
.iml
.DS_Store
.idea
*.iml
gwt-unitCache/
widgetsets/
*.log
*.cdr
*.edr
.springBeans
.tmp
.metadata
bin
gen
.gwt
*.mwb.bak
environment.properties
environmentLocator.properties
application-local.properties
dev/
db/reporting/report_temp_schema.sql
.pem
liquibase/